body
{
  margin: 1%;
  text-align: justify;
  background-color: #F0E7E7;
  color: #363636;
  letter-spacing: 0.5px;
  font-family: 'Jost', sans-serif;
  animation: smoothload 0.7s ease;
}

::-moz-selection
{
  background-color: #E5D6D6;
}

::selection
{
  background-color: #E5D6D6;
}

.heading
{
  font-family: 'Archivo Black', sans-serif;
  font-size: 2.5em;
}

h4, .h1
{
  font-family: 'Archivo Black', sans-serif;
  font-size: 2em;
}

.h3
{
  font-size: 1.5em;
}

p
{
  margin: 0;
  padding: 10px;
  font-size: 1.1em;
  font-weight: 300;
}

.column
{
  display: inline-block;
}

.right
{
  position: fixed;
  top: 25%;
  width: 40%;
  float: right;
}

.left
{
  width: 60%;
}

.mobile-nav
{
  display: none;
}

.web-nav
{
  border-left: 2px solid #363636;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-block;
  padding: 3% 6%;
}


.web-nav ul
{
  font-family: 'Archivo Black', sans-serif;
  list-style: decimal-leading-zero;
}


.web-nav ul li a
{
  text-decoration: none;
  color: #363636;
}

.web-nav ul li a:hover
{
  cursor: pointer;
  color: #7C7C7C;
  transition: color 0.7s ease;
}

.read-more
{
  margin-bottom: 7%;
}

#home
{
  position: absolute;
  top: 40%;
  left: 15%;
}

#contact
{
  position: absolute;
  top: 40%;
  left: 20%;
}

#more
{
  display: none;
}

#readmore
{
  font-weight: bolder;
  padding: 10px;
  background-color: #E5D9D9;
}

#readmore:hover
{
  cursor: pointer;
  background-color: #DDCDCD;
}

.date
{
  font-style: italic;
  font-weight: bolder;
}

a
{
  text-decoration: none;
  color: #363636;
}

@keyframes smoothload
{
  from
  {
    opacity: 0;
  }
  to
  {
    opacity: 1;
  }
}

@media only screen and (max-width: 800px)
{
  body
  {
    margin: 0;
  }

  .right
  {
    display: none;
  }

  .left
  {
    width: 100%;
    padding-top: 150px;
  }

  .mobile-nav
  {
    position: fixed;
    width: 100%;
    display: block;
    color: #F0E7E7;
    background-color: #363636;
    padding: 2% 0;
  }

  .mobile-nav ul
  {
    padding: 0;
    text-align: center;
    list-style: none;
  }

  .mobile-nav ul li
  {
    padding: 0 7%;
    display: inline;
  }

  .mobile-nav ul li a
  {
    text-decoration: none;
    color: #F0E7E7;
  }

  .mobile-nav ul li a:hover
  {
    cursor: pointer;
    color: #7C7C7C;
    transition: color 0.7s ease;
  }

  .web-nav
  {
    display: none;
  }

  .heading
  {
    font-size: 2em;
  }


}
